@layer components {
  .dialog {
    outline: none;
    @apply mx-auto;
  }

  .dialog-content-wrapper {
    @apply fixed inset-0 z-40 flex items-center justify-center overflow-hidden;
  }

  .dialog-content {
    @apply relative bg-white dark:bg-gray-800 rounded-lg shadow-xl p-4;
  }

  .dialog-overlay {
    @apply bg-black/60 dark:bg-black/30 backdrop-blur-md z-40;
  }

  .dialog-overlay-after-open {
    opacity: 1;
  }

  .dialog-overlay-before-close {
    opacity: 0;
  }
}